body{
  background-color: palevioletred;
}

a{
  font-size: 2rem;
}

.center{
  justify-content: center;
  align-items: center;
}

.font{
  color: white !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}